.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-buttons {
  float: right;
  position: relative;
  top: -90px;
}

.App-button-placement {
  padding-bottom: 0.5em;
}