.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-name {
  text-align: center;
}

.App-name-mobile {
  text-align: center;
  position: relative;
  top: 60px;
}

.App-intro {
  font-size: large;
}

.App-buttons {
  float: right;
  position: relative;
  top: -90px;
}

.App-buttons-mobile {
  float: right;
  position: absolute;
  top: 20px;
}

.App-button-placement {
  padding-bottom: 0.5em;
}

.App-buttons-width-user-dialog {
  width: 120%;
}

.App-table-no-highlight td {
  background-color: transparent !important;
}